<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-archive-editor">
  <style>
    :host {
      display: flex;
      overflow: hidden;
    }

    :host > * {
      flex: 1;
    }
  </style>
</template>

<template id="template-ru-irenproject-archive-work-selector-screen">
  <div id="scrollable">
    <table id="works">
      <tbody></tbody>
    </table>
  </div>

  <style>
    :host {
      display: flex;
      overflow: hidden;
    }

    #scrollable {
      flex: 1;
      overflow: auto;
      padding: 8px;
    }

    #works {
      border-collapse: collapse;
    }

    #works td {
      white-space: nowrap;
      padding: 2px;
    }

    #works tr {
      cursor: pointer;
    }

    #works tr:hover {
      color: #0000ee;
    }

    #works td:nth-child(2) {
      padding-left: 1em;
    }
  </style>
</template>

<template id="template-ru-irenproject-archive-work-screen">
  <span id="title"></span>

  <div id="scrollable" tabindex="-1">
    <table id="sessions">
      <thead>
        <tr>
          <td><span class="headerText">Student</span></td>
          <td><span class="headerText">Group</span></td>
          <td></td>
          <td><span class="headerText">Result, %</span></td>
          <td><span class="headerText">Grade</span></td>
          <td><span class="headerText">Session Start</span></td>
          <td><span class="headerText">IP Address</span></td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div id="bottomPanel">
    <button id="saveTableButton">Save Table...</button>
    <button id="closeButton">Close</button>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #title {
      font-size: larger;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding: 8px 8px 0;
    }

    #header {
      position: relative;
      margin-top: 10px;
    }

    #scrollable {
      flex: auto;
      overflow-x: auto;
      overflow-y: scroll;
      background-color: #ffffff;
    }

    #scrollable:focus {
      outline-style: none;
    }

    #sessions {
      table-layout: fixed;
      width: 100%;
      min-width: 81em;
      border-collapse: collapse;
      white-space: nowrap;
      isolation: isolate;
    }

    #sessions td {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px;
    }

    #sessions td:hover {
      text-overflow: clip;
    }

    #sessions > thead {
      font-weight: bold;
    }

    #sessions > thead td {
      position: sticky;
      top: 0;
      background-color: #f0f0f0;
      z-index: 1;
      padding-top: 12px;
      padding-bottom: 3px;
    }

    #sessions > thead td::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #c0c0c0;
    }

    .sortable {
      cursor: pointer;
    }

    /* USER_NAME */
    #sessions td:first-child {
      padding-left: 8px;
    }

    #sessions > tbody td:first-child:empty::before {
      content: "?";
      opacity: 0.3;
    }

    /* GROUP_NAME */
    #sessions td:nth-child(2) {
      padding-left: 1em;
      width: 7em;
    }

    /* BAR */
    #sessions td:nth-child(3) {
      padding-left: 1em;
      width: 200px;
    }

    #sessions > tbody td:nth-child(3) {
      padding-top: 0;
      padding-bottom: 0;
    }

    #sessions > tbody td:nth-child(3) > * {
      vertical-align: middle;
    }

    /* RESULT */
    #sessions td:nth-child(4) {
      text-align: right;
      width: 9em;
    }

    /* MARK */
    #sessions td:nth-child(5) {
      text-align: right;
      padding-left: 1em;
      width: 7em;
    }

    /* OPENED_AT */
    #sessions td:nth-child(6) {
      padding-left: 1em;
      width: 11em;
    }

    /* ADDRESS */
    #sessions td:nth-child(7) {
      padding-left: 1em;
      width: 8em;
    }

    .banned > :first-child {
      outline-style: solid;
      outline-width: 1px;
      outline-color: #c83737;
      outline-offset: -2px;
    }

    .sortedUp::after, .sortedDown::after {
      content: "";
      display: inline-block;
      width: 9px;
      height: 5px;
      margin-left: 4px;
      vertical-align: super;
    }

    .sortedUp::after {
      background-image: url(archive_editor.resources/sortUp.png);
    }

    .sortedDown::after {
      background-image: url(archive_editor.resources/sortDown.png);
    }

    #sessions > tbody > tr {
      cursor: pointer;
    }

    #sessions > tbody > tr:hover {
      color: #0000ee;
    }

    #bottomPanel {
      flex: none;
      display: flex;
      padding: 8px;
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: #c0c0c0;
      white-space: nowrap;
    }

    #closeButton {
      margin-left: auto;
    }
  </style>
</template>

<template id="template-ru-irenproject-archive-session-screen">
  <span id="title"></span>
  <div id="selectorBarPlaceholder"></div>

  <div id="pageSwitcher">
    <button id="userResponseButton" class="pageButton">Student's Answer</button>
    <button id="correctResponseButton" class="pageButton">Correct Answer</button>
  </div>

  <div id="scrollable"></div>

  <div id="detailsPanel">
    Result: <span id="result"></span>
    Question weight: <span id="weight"></span>
    Points earned: <span id="score"></span>
  </div>

  <div id="bottomPanel">
    <button id="previousButton">Previous</button>
    <button id="nextButton">Next</button>
    <button id="closeButton">Close</button>
  </div>

  <style id="clientStyle"></style>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #title {
      font-size: larger;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding: 8px 8px 0;
    }

    #selectorBar {
      flex: none;
      margin: 12px 8px 0;
    }

    #pageSwitcher {
      margin: 12px 8px 0;
    }

    .pageButton {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .pageButton:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    .pageButton.selected {
      background-color: #99ccff;
    }

    #scrollable {
      flex: auto;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #e8e8e8;
      margin-left: 8px;
      margin-right: 8px;
      padding: 16px;
      border-style: solid;
      border-width: 1px;
      border-color: #c0c0c0;
    }

    #detailsPanel {
      margin: 8px 8px 0;
      white-space: nowrap;
    }

    #detailsPanel > span {
      display: inline-block;
      font-weight: bold;
    }

    #result {
      min-width: 5em;
    }

    #weight {
      min-width: 4em;
    }

    #bottomPanel {
      flex: none;
      display: flex;
      padding: 12px 8px 8px;
      white-space: nowrap;
    }

    #previousButton::before {
      content: "";
      display: inline-block;
      background-image: url(archive_editor.resources/previous.png);
      width: 16px;
      height: 16px;
      margin-right: 2px;
      vertical-align: bottom;
    }

    #nextButton {
      margin-left: 8px;
    }

    #nextButton::after {
      content: "";
      display: inline-block;
      background-image: url(archive_editor.resources/next.png);
      width: 16px;
      height: 16px;
      margin-left: 2px;
      vertical-align: bottom;
    }

    #closeButton {
      margin-left: auto;
    }
  </style>
</template>
