<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-archive-dialog">
  <dialog id="dialog">
    <form method="dialog">
      <div id="main">
        <span id="label">Archive file:&nbsp;</span>
        <div>
          <input id="fileName" size="65" readonly>
          <button id="chooseButton" type="button">Choose...</button><br>
          <span id="note">If the file exists, new data will be appended to it</span>
        </div>
      </div>
      <div id="buttons">
        <button id="okButton" value="ok" autofocus>Send to Archive</button>
        <button>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #main {
      display: flex;
      align-items: baseline;
    }

    #label {
      white-space: nowrap;
    }

    #note {
      font-size: smaller;
      color: #909090;
    }

    #buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }

    #okButton {
      margin-right: 8px;
    }
  </style>
</template>
