<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-classify-question-editor">
  <div id="toolbar">
    <button id="addItemButton" title="Add Item to Selected Category (F5)"></button>
    <button id="addCategoryButton" title="Add Category (F6)"></button>
    <button id="deleteElementButton" title="Delete Item or Category (F8)"></button>
    &thinsp;
    <button id="moveElementUpButton" title="Move Item or Category Up (Alt+Up)"></button>
    <button id="moveElementDownButton" title="Move Item or Category Down (Alt+Down)"></button>
    &thinsp;
    <button id="optionsButton" title="Options"><span></span></button>
  </div>

  <div id="scrollable">
    <div id="formulationPlaceholder"></div>
    <div id="elementPanel"></div>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #addItemButton::before {
      background-image: url(classify_question_editor.resources/addItem.png);
    }

    #addCategoryButton::before {
      background-image: url(classify_question_editor.resources/addCategory.png);
    }

    #deleteElementButton::before {
      background-image: url(classify_question_editor.resources/deleteElement.png);
    }

    #moveElementUpButton::before {
      background-image: url(classify_question_editor.resources/moveElementUp.png);
    }

    #moveElementDownButton::before {
      background-image: url(classify_question_editor.resources/moveElementDown.png);
    }

    #optionsButton > span {
      display: block;
      position: relative;
      width: 16px;
      height: 16px;
      background-image: url(classify_question_editor.resources/options.png);
    }

    .edited > span::before {
      position: absolute;
      content: url(classify_question_editor.resources/editedOverlay.png);
      font-size: 0;
      right: 0;
      bottom: 0;
    }

    #scrollable {
      overflow-x: hidden;
      overflow-y: auto;
    }

    #formulation {
      border-style: solid;
      border-width: 1px;
    }

    #elementPanel > * {
      margin-top: 12px;
    }

    #elementPanel > :not(.category) {
      margin-left: 16px;
      margin-right: 16px;
    }

    .category {
      background-color: #d0d0d0;
    }
  </style>
</template>

<template id="template-ru-irenproject-classify-question-options-dialog">
  <dialog id="dialog">
    <form id="form" method="dialog">
      <fieldset id="main">
        <legend>Items</legend>
        <div>
          <label>
            <input type="radio" name="items" checked>Offer all
          </label>
          <label>
            <input id="randomItems" type="radio" name="items">Randomly select
          </label>
          <input id="itemLimit" type="number" min="1">
        </div>
        <div>
          <label>
            From each category, select at least
            <input id="minItemsPerCategory" type="number" min="0" value="1">
          </label>
        </div>
      </fieldset>
      <div id="buttons">
        <button value="ok">OK</button>
        <button formnovalidate>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #form {
      display: flex;
    }

    #main > div:not(:first-of-type) {
      margin-top: 8px;
    }

    #main > div {
      text-align: right;
    }

    #buttons {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }

    #buttons > :not(:first-child) {
      margin-top: 8px;
    }

    input[type="number"]:disabled::selection {
      all: unset;
    }
  </style>
</template>
