<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-input-question-editor">
  <div id="toolbar">
    <button id="addPatternButton"><img id="patternTypeImage"></button><button id="addPatternDropDown" class="dropDown"></button>
    <button id="deletePatternButton" title="Delete Pattern (F8)"></button>
    &thinsp;
    <button id="movePatternUpButton" title="Move Pattern Up (Alt+Up)"></button>
    <button id="movePatternDownButton" title="Move Pattern Down (Alt+Down)"></button>
  </div>

  <div id="scrollable">
    <div id="formulationPlaceholder"></div>
    <div id="patternPanel"></div>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #toolbar > button.dropDown::before {
      width: 9px;
      background-image: url(input_question_editor.resources/dropDownIndicator.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    .dropDown {
      padding-left: 3px;
      padding-right: 4px;
    }

    #patternTypeImage {
      display: block;
      width: 16px;
      height: 16px;
    }

    #deletePatternButton::before {
      background-image: url(input_question_editor.resources/deletePattern.png);
    }

    #movePatternUpButton::before {
      background-image: url(input_question_editor.resources/movePatternUp.png);
    }

    #movePatternDownButton::before {
      background-image: url(input_question_editor.resources/movePatternDown.png);
    }

    #scrollable {
      overflow-x: hidden;
      overflow-y: auto;
    }

    #formulation {
      border-style: solid;
      border-width: 1px;
    }

    #patternPanel > * {
      margin-top: 12px;
    }
  </style>
</template>

<template id="template-ru-irenproject-input-question-pattern-editor">
  <img id="patternTypeImage">
  <input id="pattern">
  <label id="qualityLabel" title="Correctness">
    <input id="quality" type="number" min="0" max="100" required>
    <span id="percent">&nbsp;%</span>
  </label>
  <button id="optionsButton" title="Options"><span></span></button>

  <style>
    :host {
      display: flex;
      overflow: hidden;
    }

    #patternTypeImage {
      width: 16px;
      height: 16px;
    }

    #pattern {
      flex: auto;
      font: var(--monospace-font);
      margin-left: 8px;
    }

    #qualityLabel {
      flex: none;
      display: flex;
      overflow: hidden;
      margin-left: 12px;
      white-space: nowrap;
    }

    #quality {
      text-align: right;
    }

    :invalid {
      background-color: #ffaaaa;
    }

    .fullyCorrect:not(:focus) {
      color: #c0c0c0;
    }

    #percent {
      align-self: center;
      font-size: smaller;
    }

    #optionsButton {
      margin-left: 8px;
    }

    #optionsButton:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #optionsButton > span {
      display: block;
      position: relative;
      width: 16px;
      height: 16px;
      background-image: url(input_question_editor.resources/options.png);
    }

    .edited > span::before {
      position: absolute;
      content: url(input_question_editor.resources/editedOverlay.png);
      font-size: 0;
      right: 0;
      bottom: 0;
    }
  </style>
</template>

<template id="template-ru-irenproject-text-pattern-options-dialog">
  <dialog id="dialog">
    <form id="form" method="dialog">
      <div id="main">
        <label title="* matches any number of characters (including none at all), ? matches any single character">
          <input id="wildcard" type="checkbox">Interpret * and ? as wildcards
        </label>
        <label title='Allow both "," and "." for a decimal mark, ignore leading and trailing (in fractional part) zeros.&NewLine;&NewLine;For example, "9,03" = "9.03" = "009,030".'>
          <input id="recognizeNumbers" type="checkbox">Recognize numbers
        </label>
        <label id="precisionLabel">
          Tolerance: <input id="precision">
        </label>
        <label title="Compare word-by-word">
          <input id="spaceDelimited" type="checkbox">Take spaces into account
        </label>
        <label title="Don't distinguish between upper and lower case letters">
          <input id="ignoreCase" type="checkbox">Ignore case
        </label>
      </div>
      <div id="buttons">
        <button id="okButton">OK</button>
        <button formnovalidate>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #form {
      display: flex;
    }

    #main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    #main > :not(:first-child) {
      margin-top: 8px;
    }

    #precisionLabel {
      margin-left: 32px;
    }

    #buttons {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }

    #buttons > :not(:first-child) {
      margin-top: 8px;
    }

    input:not([type]):disabled::selection {
      all: unset;
    }
  </style>
</template>

<template id="template-ru-irenproject-regexp-pattern-options-dialog">
  <dialog id="dialog">
    <form id="form" method="dialog">
      <div id="main">
        <fieldset>
          <legend>Space removal from the examinee's answer before matching</legend>
          <div id="spacePreprocessModePanel">
            <label>
              <input type="radio" name="spacePreprocessMode" value="NORMALIZE">Remove leading and trailing spaces, leave one space between words
            </label>
            <label>
              <input type="radio" name="spacePreprocessMode" value="REMOVE">Remove all spaces
            </label>
            <label>
              <input type="radio" name="spacePreprocessMode" value="KEEP">Keep spaces
            </label>
          </div>
        </fieldset>
        <label>
          <input id="ignoreCase" type="checkbox">Ignore case
        </label>
      </div>
      <div id="buttons">
        <button value="ok">OK</button>
        <button>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #form {
      display: flex;
    }

    #main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    #spacePreprocessModePanel {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    #spacePreprocessModePanel > :not(:first-child) {
      margin-top: 8px;
    }

    #ignoreCase {
      margin-top: 16px;
    }

    #buttons {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
    }

    #buttons > :not(:first-child) {
      margin-top: 8px;
    }
  </style>
</template>
