<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-login-dialog">
  <dialog id="dialog">
    <form id="form" method="dialog">
      <label for="server">Server:</label>
      <input id="server" maxlength="100" size="35">

      <label for="password">Password:</label>
      <input id="password" type="password" maxlength="100" size="35">

      <button id="logInButton">Log In</button>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #form {
      display: grid;
      gap: 8px;
      align-items: center;
    }

    #logInButton {
      grid-column: 2;
      justify-self: start;
    }

    label {
      justify-self: end;
    }
  </style>
</template>
