<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-modifier-screen">
  <div id="listPlaceholder"></div>

  <div id="bottomPanel">
    <button id="closeButton">Close</button>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #list {
      flex: auto;
    }

    #bottomPanel {
      flex: none;
      display: flex;
      justify-content: flex-end;
      padding: 8px;
    }
  </style>
</template>

<template id="template-ru-irenproject-modifier-list-editor">
  <div id="toolbar">
    <button id="addButton" title="Add Modifier"></button>
    <button id="deleteButton" title="Delete Modifier (Del)"></button>
    &thinsp;
    <button id="moveUpButton" title="Move Modifier Up (Alt+Up)"></button>
    <button id="moveDownButton" title="Move Modifier Down (Alt+Down)"></button>
  </div>

  <span id="caption"></span>

  <div id="scrollable" tabindex="0">
    <div id="main"></div>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #addButton::before {
      background-image:
          url(modifier_screen.resources/addOverlay.png),
          url(modifier_screen.resources/modifier.png);
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    #deleteButton::before {
      background-image: url(modifier_screen.resources/delete.png);
    }

    #moveUpButton::before {
      background-image: url(modifier_screen.resources/moveUp.png);
    }

    #moveDownButton::before {
      background-image: url(modifier_screen.resources/moveDown.png);
    }

    #caption {
      font-weight: bold;
      background-color: #d0d0d0;
      padding: 2px;
    }

    #scrollable {
      flex: auto;
      overflow: auto;
    }

    #main {
      min-width: max-content;
    }

    #main > * {
      padding: 2px;
    }

    .selected {
      background-color: #99ccff;
    }

    .editor {
      margin-left: 16px;
    }
  </style>
</template>
