<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-options-dialog">
  <dialog id="dialog">
    <form method="dialog">
      <div class="caption">Student Registration</div>

      <label>
        <input id="selfRegistration" type="radio" name="authenticationMode">Open registration
      </label>
      <br>
      <label>
        <input id="textFile" type="radio" name="authenticationMode">Only listed users can log in
      </label>
      <br>
      <label>
        <input id="accountLogin" type="radio" name="authenticationMode">Use external LDAP server
      </label>
      <span class="help" title="Available only for the standalone Iren server (the `iren-system-service` package for Linux).&NewLine;&NewLine;LDAP settings are specified in the `/etc/iren.conf` file."></span>

      <div class="note">Applies to newly assigned works</div>

      <div id="buttons">
        <button id="saveButton" value="save" autofocus>Save</button>
        <button>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    .caption {
      background-color: #d0d0d0;
      padding: 2px;
      margin-bottom: 8px;
    }

    .help {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(options_dialog.resources/help.png);
      vertical-align: text-bottom;
    }

    .note {
      font-size: smaller;
      opacity: 0.5;
    }

    #buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }

    #saveButton {
      margin-right: 8px;
    }
  </style>
</template>
