<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-order-question-editor">
  <div id="toolbar">
    <button id="addElementButton" title="Add Item (F5)"></button>
    <button id="deleteElementButton" title="Delete Item (F8)"></button>
    &thinsp;
    <button id="moveElementUpButton" title="Move Item Up (Alt+Up)"></button>
    <button id="moveElementDownButton" title="Move Item Down (Alt+Down)"></button>
    &thinsp;
    <button id="optionsButton" title="Options"><span></span></button>
  </div>

  <div id="scrollable">
    <div id="formulationPlaceholder"></div>
    <div id="pageSwitcher">
      <button id="itemsButton">Correct Sequence</button>
      <button id="distractorsButton">Wrong Items</button>
    </div>
    <div id="elementPanel"></div>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #addElementButton::before {
      background-image: url(order_question_editor.resources/addElement.png);
    }

    #deleteElementButton::before {
      background-image: url(order_question_editor.resources/deleteElement.png);
    }

    #moveElementUpButton::before {
      background-image: url(order_question_editor.resources/moveElementUp.png);
    }

    #moveElementDownButton::before {
      background-image: url(order_question_editor.resources/moveElementDown.png);
    }

    #optionsButton > span {
      display: block;
      position: relative;
      width: 16px;
      height: 16px;
      background-image: url(order_question_editor.resources/options.png);
    }

    .edited > span::before {
      position: absolute;
      content: url(order_question_editor.resources/editedOverlay.png);
      font-size: 0;
      right: 0;
      bottom: 0;
    }

    #scrollable {
      overflow-x: hidden;
      overflow-y: auto;
    }

    #formulation {
      border-style: solid;
      border-width: 1px;
    }

    #pageSwitcher {
      margin-top: 12px;
    }

    #pageSwitcher > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #pageSwitcher > button.selected {
      background-color: #99ccff;
    }

    .notEmpty {
      font-weight: bold;
    }

    #elementPanel {
      border-style: solid;
      border-width: 1px;
      border-color: #808080;
      padding: 12px;
    }

    #elementPanel > :not(:first-child) {
      margin-top: 12px;
    }
  </style>
</template>

<template id="template-ru-irenproject-order-question-options-dialog">
  <dialog id="dialog">
    <form method="dialog">
      <div id="main">
        <fieldset>
          <legend>Sequence Items</legend>
          <label>
            <input type="radio" name="items" checked>Offer all
          </label>
          <div>
            <label>
              <input id="randomItems" type="radio" name="items">Randomly select
            </label>
            <input id="itemLimit" type="number" min="1">
          </div>
        </fieldset>
        <fieldset>
          <legend>Wrong Items</legend>
          <label>
            <input type="radio" name="distractors" checked>Offer all
          </label>
          <div>
            <label>
              <input id="randomDistractors" type="radio" name="distractors">Randomly select
            </label>
            <input id="distractorLimit" type="number" min="1">
          </div>
        </fieldset>
      </div>
      <div id="buttons">
        <button value="ok">OK</button>
        <button formnovalidate>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #main {
      display: flex;
    }

    #main > :not(:first-child) {
      margin-left: 8px;
    }

    fieldset {
      margin: 0;
    }

    fieldset > div {
      margin-top: 8px;
    }

    #buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }

    #buttons > * {
      min-width: 6em;
    }

    #buttons > :not(:first-child) {
      margin-left: 8px;
    }

    input[type="number"]:disabled::selection {
      all: unset;
    }
  </style>
</template>
