<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-question-viewer">
  <div id="contentPanel" class="dnd-scrollable"></div>

  <style id="clientStyle"></style>

  <style>
    :host {
      display: flex;
      overflow: hidden;
    }

    #contentPanel {
      flex: 1;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #e8e8e8;
      padding: 16px;
      border-style: solid;
      border-width: 1px;
      border-color: #c0c0c0;
    }

    #errorMessage {
      background-color: #ffaaaa;
      padding: 4px;
      user-select: text;
      cursor: auto;
    }
  </style>
</template>

<template id="template-ru-irenproject-question-viewer-dashboard">
  <span id="resultPanel">
    <span id="result" title="Answer Correctness"></span>
  </span>

  <span id="toolbar">
    <button id="showCorrectAnswerButton" title="Show Correct Answer"></button>
    <button id="resetAnswerButton" title="Return Question to Initial State"></button>
    <button id="offerAnewButton" title="Offer Question Anew (F9)"></button>
  </span>

  <style>
    :host {
      overflow: hidden;
    }

    #resultPanel {
      display: inline-block;
      width: 3em;
      text-align: right;
      font-weight: bold;
    }

    .incorrect {
      color: #b30000;
    }

    .partiallyCorrect {
      color: #8b7500;
    }

    .correct {
      color: #008a00;
    }

    #toolbar {
      display: inline-block;
      vertical-align: bottom;
      margin-left: 8px;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #showCorrectAnswerButton::before {
      background-image: url(question_viewer.resources/showCorrectAnswer.png);
    }

    #resetAnswerButton::before {
      background-image: url(question_viewer.resources/resetAnswer.png);
    }

    #offerAnewButton::before {
      background-image: url(question_viewer.resources/offerAnew.png);
    }
  </style>
</template>
