<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-section-tree-editor">
  <span id="caption">Sections</span>

  <div id="main" tabindex="0"></div>

  <div id="toolbar">
    <button id="addButton" title="Add Section (Shift+F2)"></button>
    <button id="deleteButton" title="Delete Section (Del)"></button>
    &thinsp;
    <button id="setNameButton" title="Rename Section (Shift+F3)"></button>
    <button id="modifiersButton" title="Section Modifiers (Shift+F4)"></button>
    &thinsp;
    <button id="moveUpButton" title="Move Section Up (Alt+Up)"></button>
    <button id="moveDownButton" title="Move Section Down (Alt+Down)"></button>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #caption {
      font-size: smaller;
      font-weight: bold;
    }

    #main {
      flex: auto;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      white-space: nowrap;
      background-color: #ffffff;
      margin-top: 2px;
      border-style: solid;
      border-width: 1px;
      border-color: #c0c0c0;
    }

    #main > * {
      padding: 2px;
    }

    .icon {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      background-image: url(section_tree_editor.resources/section.png);
      margin-right: 4px;
      vertical-align: top;
    }

    .hasModifiers::before {
      position: absolute;
      content: url(section_tree_editor.resources/modifierOverlay.png);
      font-size: 0;
      right: 0;
      bottom: 0;
    }

    .name:empty::before {
      content: attr(data-untitled);
      opacity: 0.3;
    }

    .selected {
      background-color: #99ccff;
    }

    .populated {
      font-weight: bold;
    }

    #toolbar {
      padding-top: 2px;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #addButton::before {
      background-image: url(section_tree_editor.resources/add.png);
    }

    #deleteButton::before {
      background-image: url(section_tree_editor.resources/delete.png);
    }

    #setNameButton::before {
      background-image: url(section_tree_editor.resources/rename.png);
    }

    #modifiersButton::before {
      background-image: url(section_tree_editor.resources/modifiers.png);
    }

    #moveUpButton::before {
      background-image: url(section_tree_editor.resources/moveUp.png);
    }

    #moveDownButton::before {
      background-image: url(section_tree_editor.resources/moveDown.png);
    }
  </style>
</template>
