<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-select-question-editor">
  <div id="toolbar">
    <button id="addChoiceButton" title="Add Choice (F5)"></button>
    <button id="deleteChoiceButton" title="Delete Choice (F8)"></button>
    &thinsp;
    <button id="moveChoiceUpButton" title="Move Choice Up (Alt+Up)"></button>
    <button id="moveChoiceDownButton" title="Move Choice Down (Alt+Down)"></button>
    &thinsp;
    <button id="addNegativeChoiceButton" title='Add the "No Correct Answers" Choice (F6)'></button>
    <button id="fixChoiceButton" title="Pin Choice"></button>
  </div>

  <div id="scrollable">
    <div id="formulationPlaceholder"></div>
    <div id="choicePanel"></div>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button.highlighted {
      background-color: #ffffff;
    }

    #toolbar > button:disabled {
      opacity: 0.3;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #addChoiceButton::before {
      background-image: url(select_question_editor.resources/addChoice.png);
    }

    #deleteChoiceButton::before {
      background-image: url(select_question_editor.resources/deleteChoice.png);
    }

    #moveChoiceUpButton::before {
      background-image: url(select_question_editor.resources/moveChoiceUp.png);
    }

    #moveChoiceDownButton::before {
      background-image: url(select_question_editor.resources/moveChoiceDown.png);
    }

    #addNegativeChoiceButton::before {
      background-image: url(select_question_editor.resources/addNegativeChoice.png);
    }

    #fixChoiceButton::before {
      background-image: url(select_question_editor.resources/fixChoice.png);
    }

    #scrollable {
      overflow-x: hidden;
      overflow-y: auto;
    }

    #formulation {
      border-style: solid;
      border-width: 1px;
    }

    #choicePanel > * {
      margin-top: 12px;
    }
  </style>
</template>

<template id="template-ru-irenproject-select-question-choice-editor">
  <div id="left">
    <input id="correct" type="checkbox" title="Correct choice marker">
    <div id="indicatorPanel">
      <img id="negativeChoiceIndicator" src="select_question_editor.resources/negativeChoice.png"
          width="10" height="11" title='This is the "No Correct Answers" choice'>
      <img id="fixedChoiceIndicator" src="select_question_editor.resources/fixedChoice.png"
          width="10" height="11" title="This choice is pinned (won't move when shuffling the choices)">
    </div>
  </div>
  <div id="padEditorPlaceholder"></div>

  <style>
    :host {
      display: flex;
      align-items: flex-start;
      overflow: hidden;
    }

    #left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #correct {
      margin-top: 0;
      margin-bottom: 2px;
    }

    #indicatorPanel {
      display: flex;
    }

    #padEditor {
      flex: auto;
      margin-left: 4px;
    }

    .correct {
      background-color: #bcee68;
    }
  </style>
</template>
