<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-supervisor-screen">
  <div id="top">
    <span class="toolbar">
      <button id="assign" title="Assign"></button>
    </span>
    <button id="workMenuButton" class="dropDown">Work</button>
    <button id="toolsMenuButton" class="dropDown">Tools</button>
    <div id="serverAddressPanel">
      <span id="serverAddressCaption">Server address:</span>
      <span id="serverAddress"></span>
    </div>
    <span class="toolbar">
      <button id="about" title="About"></button>
    </span>
  </div>

  <div id="scrollable" tabindex="-1">
    <table id="table">
      <thead>
        <tr>
          <td>Work</td>
          <td>Assigned</td>
        </tr>
      </thead>
      <tbody id="tableBody"></tbody>
    </table>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #top {
      flex: none;
      display: flex;
      white-space: nowrap;
    }

    .toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    .toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #assign::before {
      background-image: url(supervisor_screen.resources/assign.png);
    }

    .dropDown::after {
      content: "";
      display: inline-block;
      width: 9px;
      height: 5px;
      margin-left: 4px;
      vertical-align: middle;
      background-image: url(supervisor_screen.resources/dropDownIndicator.png);
    }

    .dropDown:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #top > .dropDown + :not(.dropDown) {
      margin-left: auto;
    }

    #serverAddressPanel {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: smaller;
      margin-right: 8px;
      align-self: center;
    }

    #serverAddressCaption {
      color: #707070;
    }

    #serverAddress {
      user-select: text;
      cursor: auto;
    }

    #about::before {
      background-image: url(supervisor_screen.resources/about.png);
    }

    #scrollable {
      flex: auto;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #ffffff;
      margin: 8px;
      border-style: solid;
      border-width: 1px;
      border-color: #c0c0c0;
    }

    #scrollable:focus {
      outline-style: none;
    }

    #table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      white-space: nowrap;
      isolation: isolate;
    }

    #table td {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px;
    }

    #table > thead {
      font-weight: bold;
    }

    #table > thead td {
      position: sticky;
      top: 0;
      background-color: #f0f0f0;
      z-index: 1;
      padding-top: 8px;
      padding-bottom: 3px;
    }

    #table > thead td::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #c0c0c0;
    }

    #table td:first-child {
      padding-left: 8px;
    }

    #table td:nth-child(2) {
      padding-left: 1em;
      width: 9.5em;
    }

    .selected {
      background-color: #99ccff;
    }
  </style>
</template>

<template id="template-ru-irenproject-create-work-dialog">
  <dialog id="dialog">
    <form id="form" method="dialog">
      <div id="titlePanel">
        Test:&nbsp;<span id="title"></span>
      </div>
      <div id="profileSelectorPlaceholder"></div>
      <div id="buttons">
        <button id="assign" value="assign">Assign</button>
        <button>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      display: flex;
      overflow: hidden;
      background-color: #f0f0f0;
      box-sizing: border-box;
      width: calc(100% - 32px);
      height: calc(100% - 32px);
      padding: 0;
    }

    #form {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 16px 16px 16px 8px;
    }

    #titlePanel {
      flex: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 8px;
      margin-bottom: 8px;
    }

    #title {
      font-weight: bold;
      user-select: text;
      cursor: auto;
    }

    #profileSelector {
      flex: auto;
    }

    #buttons {
      flex: none;
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }

    #assign {
      margin-right: 8px;
    }
  </style>
</template>

<template id="template-ru-irenproject-work-profile-selector">
  <style>
    :host {
      display: flex;
      overflow: hidden;
    }

    :host > * {
      flex: 1;
    }
  </style>
</template>
