<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-test-screen">
  <div id="left">
    <div id="questionListEditor"></div>
  </div>
  <div id="right">
    <div>
      <button id="editButton" class="modeButton" title="Edit Question (Ctrl+1)">Edit</button>
      <button id="viewButton" class="modeButton" title="View Question (Ctrl+2)">View</button>
    </div>
    <div id="questionPanel"></div>
  </div>

  <style>
    :host {
      display: flex;
      overflow: hidden;
    }

    #left {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    #questionListEditor {
      flex: 3;
      padding-right: 4px;
      padding-bottom: 8px;
    }

    #sectionTreeEditor {
      flex: 1;
      padding: 0 4px 8px 8px;
    }

    #right {
      flex: 2;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding: 0 8px 8px;
    }

    .modeButton {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .modeButton:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    .modeButton.selected {
      background-color: #99ccff;
    }

    #questionPanel {
      flex: auto;
      overflow: hidden;
      display: flex;
    }

    #questionPanel > * {
      flex: 1;
    }
  </style>
</template>
