<!--
  Copyright 2012-2020 Sergey Ostanin

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template id="template-ru-irenproject-watch-screen">
  <div id="caption">
    <span id="workTitle"></span>
    <button id="closeButton" title="Close (Ctrl+F4)"></button>
  </div>

  <div id="control">
    <span id="toolbar">
      <button id="sendToArchive" title="Send to Archive"></button>
    </span>
    <button id="workMenuButton" class="dropDown">Work</button>
    <button id="sessionMenuButton" class="dropDown">Session</button>
    <span id="infoPanel">
      <span id="sessionCountCaption">Sessions:</span>
      <span id="sessionCount"></span>
    </span>
  </div>

  <div id="sideBySide">
    <div id="main" tabindex="-1">
      <table id="table">
        <thead>
          <tr>
            <td><span class="headerText">Student</span></td>
            <td><span class="headerText">Group</span></td>
            <td></td>
            <td><span class="headerText">Result, %</span></td>
            <td><span class="headerText">Grade</span></td>
            <td><span class="headerText">Time</span></td>
            <td><span class="headerText">Session Start</span></td>
            <td><span class="headerText">IP Address</span></td>
          </tr>
        </thead>
        <tbody id="tableBody"></tbody>
      </table>
    </div>
  </div>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #caption {
      flex: none;
      display: flex;
      white-space: nowrap;
      background-color: #d0d0d0;
    }

    #workTitle {
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 4px 8px;
    }

    #closeButton {
      margin-left: auto;
    }

    #closeButton:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #closeButton::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(watch_screen.resources/close.png);
    }

    #control {
      flex: none;
      display: flex;
      margin: 4px 8px 0 0;
      white-space: nowrap;
    }

    #toolbar > button:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #toolbar > button:empty::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    #sendToArchive::before {
      background-image: url(watch_screen.resources/sendToArchive.png);
    }

    .dropDown::after {
      content: "";
      display: inline-block;
      width: 9px;
      height: 5px;
      margin-left: 4px;
      vertical-align: middle;
      background-image: url(watch_screen.resources/dropDownIndicator.png);
    }

    .dropDown:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    #infoPanel {
      margin-left: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: smaller;
      align-self: center;
    }

    #sessionCountCaption {
      color: #707070;
    }

    #sideBySide {
      flex: auto;
      overflow: hidden;
      display: flex;
    }

    #main {
      flex: 2;
      overflow-x: auto;
      overflow-y: scroll;
      background-color: #ffffff;
      margin: 8px;
      border-style: solid;
      border-width: 1px;
      border-color: #c0c0c0;
    }

    #main:focus {
      outline-style: none;
    }

    #table {
      table-layout: fixed;
      width: 100%;
      min-width: 87em;
      border-collapse: collapse;
      white-space: nowrap;
      isolation: isolate;
    }

    #table td {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px;
    }

    #table td:hover {
      text-overflow: clip;
    }

    #table > thead {
      font-weight: bold;
    }

    #table > thead td {
      position: sticky;
      top: 0;
      background-color: #f0f0f0;
      z-index: 1;
      padding-top: 8px;
      padding-bottom: 3px;
    }

    #table > thead td::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #c0c0c0;
    }

    .sortable {
      cursor: pointer;
    }

    /* USER_NAME */
    #table td:first-child {
      padding-left: 12px;
    }

    /* GROUP_NAME */
    #table td:nth-child(2) {
      padding-left: 1em;
      width: 7em;
    }

    /* BAR */
    #table td:nth-child(3) {
      padding-left: 1em;
      width: 200px;
    }

    #tableBody td:nth-child(3) {
      padding-top: 0;
      padding-bottom: 0;
    }

    #tableBody td:nth-child(3) > * {
      vertical-align: middle;
    }

    /* RESULT */
    #table td:nth-child(4) {
      text-align: right;
      width: 9em;
    }

    /* MARK */
    #table td:nth-child(5) {
      text-align: right;
      padding-left: 1em;
      width: 7em;
    }

    /* TIME */
    #table td:nth-child(6) {
      text-align: right;
      width: 6em;
    }

    /* OPENED_AT */
    #table td:nth-child(7) {
      padding-left: 1em;
      width: 11em;
    }

    /* ADDRESS */
    #table td:nth-child(8) {
      padding-left: 1em;
      width: 8em;
    }

    .finished, .timedOut, .banned {
      color: #808080;
    }

    .banned > :first-child {
      outline-style: solid;
      outline-width: 1px;
      outline-color: #c83737;
      outline-offset: -2px;
    }

    .selected {
      background-color: #99ccff;
    }

    .sortedUp::after, .sortedDown::after {
      content: "";
      display: inline-block;
      width: 9px;
      height: 5px;
      margin-left: 4px;
      vertical-align: super;
    }

    .sortedUp::after {
      background-image: url(watch_screen.resources/sortUp.png);
    }

    .sortedDown::after {
      background-image: url(watch_screen.resources/sortDown.png);
    }

    #watchedSessionPanel {
      flex: 3;
      padding: 8px;
    }
  </style>
</template>

<template id="template-ru-irenproject-change-time-limit-dialog">
  <dialog id="dialog">
    <form id="form" method="dialog">
      <label>
        New limit:
        <input id="timeLimit" maxlength="5" size="5" required>
        minutes
      </label>
      <div id="note">
        <span id="examples">Examples:</span>
        <span class="example">5</span><span>Set limit to 5 minutes</span>
        <span class="example">+5</span><span>Increase time by 5 minutes</span>
        <span class="example">-5</span><span>Reduce time by 5 minutes</span>
        <span class="example">0</span><span>Remove time limit</span>
      </div>
      <div id="buttons">
        <button id="set" value="set">Set</button>
        <button formnovalidate>Cancel</button>
      </div>
    </form>
  </dialog>

  <style>
    #dialog {
      background-color: #f0f0f0;
    }

    #form {
      display: flex;
      flex-direction: column;
    }

    #note {
      display: grid;
      grid-template-columns: max-content auto;
      column-gap: 8px;
      margin-top: 8px;
      font-size: smaller;
      color: #909090;
    }

    #examples {
      grid-column: span 2;
    }

    .example {
      justify-self: end;
      font-weight: bold;
      margin-left: 1em;
    }

    #buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }

    #set {
      margin-right: 8px;
    }
  </style>
</template>

<template id="template-ru-irenproject-watched-session-panel">
  <div id="selectorBarPlaceholder"></div>

  <div>
    <button id="userResponseButton" class="pageButton" disabled>Student's Answer</button>
    <button id="correctResponseButton" class="pageButton" disabled>Correct Answer</button>
  </div>

  <div id="scrollable"></div>

  <div id="detailsPanel">
    Result: <span id="result"></span>
    Question weight: <span id="weight"></span>
    Points earned: <span id="score"></span>
  </div>

  <div id="bottomPanel">
    <button id="previousButton" disabled>Previous</button>
    <button id="nextButton" disabled>Next</button>
    <button id="closeButton">Close</button>
  </div>

  <style id="clientStyle"></style>

  <style>
    :host {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #selectorBar {
      flex: none;
      margin-bottom: 12px;
    }

    .pageButton {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .pageButton:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    .pageButton.selected {
      background-color: #99ccff;
    }

    #scrollable {
      flex: auto;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #e8e8e8;
      padding: 16px;
      border-style: solid;
      border-width: 1px;
      border-color: #c0c0c0;
    }

    #detailsPanel {
      margin-top: 8px;
      white-space: nowrap;
    }

    #detailsPanel > span {
      display: inline-block;
      font-weight: bold;
    }

    #result {
      min-width: 5em;
    }

    #weight {
      min-width: 4em;
    }

    #bottomPanel {
      flex: none;
      display: flex;
      margin-top: 12px;
      white-space: nowrap;
    }

    #previousButton::before {
      content: "";
      display: inline-block;
      background-image: url(watch_screen.resources/previous.png);
      width: 16px;
      height: 16px;
      margin-right: 2px;
      vertical-align: bottom;
    }

    #nextButton {
      margin-left: 8px;
    }

    #nextButton::after {
      content: "";
      display: inline-block;
      background-image: url(watch_screen.resources/next.png);
      width: 16px;
      height: 16px;
      margin-left: 2px;
      vertical-align: bottom;
    }

    #closeButton {
      margin-left: auto;
    }
  </style>
</template>
